*.pyc
*#*
log/
log
.gdb*
*test/feature_data/*
directories.txt
cscope.*
bazel-*
!bazel-compilation-database/
*.swp
*.swo
*tags
.cproject
.project
.settings*
core
/Debug/
format-all.sh
#.gen_compiledb.py
run_coverage.sh
#.clang-format
..gitignore.un~
aspects.bzl
.gitignore~
.gitignore.swp
*~
CMakeLists.txt
main.cpp
.idea/*
.vscode/*
*.out
